
.bluePrint {
    -fx-background-color: #e8ffdd;
    -fx-background-image: url("bg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 700 600;
    -fx-background-position: center center;
}

.infoBlock {
    -fx-pref-width: 300;
    -fx-background-color: #ffffff;
}

.infoTitle {
    -fx-font-family: fantasy;
    -fx-font-weight: 900;
    -fx-font-size: 24;
}

.state-green { -fx-background-color: rgba(85, 255, 0, 0.2); }
.state-green:hover { -fx-background-color: rgba(82, 255, 0, 0.4); }
.state-green:pressed { -fx-background-color: rgba(82, 255, 0, 0.6); }

.state-red { -fx-background-color: rgba(255, 0, 0, 0.2); }
.state-red:hover { -fx-background-color: rgba(255, 0, 0, 0.4); }
.state-red:pressed { -fx-background-color: rgba(255, 0, 0, 0.6); }

.state-orange { -fx-background-color: rgba(255, 166, 0, 0.2); }
.state-orange:hover { -fx-background-color: rgba(255, 166, 0, 0.4); }
.state-orange:pressed { -fx-background-color: rgba(255, 166, 0, 0.6); }